<h2 class="Login">Login</h1>

<%= form_with(scope: :session, local: true) do |form| %>

    <div class="formlog">
        <div class="field">
            <%= form.label :email, "E-mail", class:"logfield" %>
            <%= form.email_field :email %>
        </div>

        <div class="field">
            <%= form.label :password, "Senha", class:"logfield" %>
            <%= form.password_field :password %>
        </div>

        <p><%= link_to "Esqueceu a senha?", new_password_reset_path, class:"linkforgot"%></p>

        <div class="actions">
            <%= form.submit "Entrar", class:"regbox"  %>
        </div>
    </div>

<% end %>