<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    
    <div class="newpass">
        <div class="field">
            <%= f.label :password, "Nova senha", class:"logfield" %>
            <%= f.password_field :password %>
        </div>

        <div class="actions">
            <%= f.submit "Gerar nova senha", class:"regbox" %>
        </div>
    </div>

<% end %>