<%= form_tag password_resets_path, :method => :post do %>

    <div class="newpass">
        <h2 class="novasenha">Nova Senha</h1>
        <div class="field">
            <%= label_tag :email,"E-mail", :class => "logfield" %>
            <%= text_field_tag :email, params[:email]%>
        </div>

        <div class="action">
            <%= submit_tag "Nova Senha", class:"regbox" %>
        </div>
    </div>

<% end %>