Para criar uma nova senha, clique no link abaixo

<%= edit_password_reset_url(@user.password_reset_token) %>

Se você não pediu uma nova senha, apenas ignore este e-mail e sua senha permanecerá a mesma.
