<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cadastro">
    <div class="field">
      <%= form.label :Nome, class:"regfield" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label "E-mail", class:"regfield" %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :Senha, class:"regfield" %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :Endereço, class:"regfield" %>
      <%= form.text_area :adress %>
    </div>

    <div class="actions">
      <%= form.submit "Cadastrar", class:"regbox" %>
    </div>

    <%= link_to 'Voltar', root_path, class:"regbox" %>

  </div>

<% end %>
