<%= form_with(model: @user, local: true) do |form| %>

  <div class="editando_user">

    <div class="field">
      <%= form.label :Nome, class:"regfield" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label "E-mail", class:"regfield" %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :Senha, class:"regfield" %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :Endereço, class:"regfield" %>
      <%= form.text_area :adress %>
    </div>

    <div class="actions">
      <%= form.submit "Salvar", class:"regbox" %>
    </div>

  </div>

<% end %>



