<h2 class="usuarios">Usuários</h2>

<div class="index_users">
  <p id="notice"><%= notice %></p>

<div class="pesquisa">
  <%= form_tag users_path, :method => 'get' do%>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Pesquisar", class:"searchbox" %>
  <% end %>
</div>

  <table class="table_users">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Endereço</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.adress %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>