<div class="showuser">
  <p id="notice"><%= notice %></p>

  <p>
    <strong class="logfield">Nome:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong class="logfield">E-mail:</strong>
    <%= @user.email %>
  </p>

  <% if !@user.moderator %>
    <p>
      <strong class="logfield">Endereço:</strong>
      <%= @user.adress %>
    </p>
  <% end %>

  <% if !@user.moderator%>
    <%= link_to 'Editar', edit_user_path(@user), class:"linkforgot"%>
  <% end %>
  <% if @user.moderator%>
    <div class="menu_mod">
      <%= link_to "Index de Usuários", users_path, class:"linkforgot"%>
      <a href="#", class="linkforgot">Index de Promoções</a>
      <a href="#", class="linkforgot">Index de Produtos</a>
    </div>
  <% end %>

</div>