<h2 class="Sabores">Sabores</h2>

<div class="quadrosab">
    <%= image_tag("/assets/pizza1.jpeg", class:"imgmenu") %>
    <%= image_tag("/assets/pizza2.jpeg", class:"imgmenu") %>
    <%= image_tag("/assets/pizza3.jpeg", class:"imgmenu") %>
    <%= image_tag("/assets/pizza4.jpeg", class:"imgmenu") %>
    <p class="menucapt">Pizza de calabresa</p>
</div>