<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
    </head>

    <body>

        <h2 id="promos">Promoções!</h2>
        <div class="quadropromos">
            <%= image_tag("/assets/pizza1.jpeg", class:"imgmenu") %>
            <%= image_tag("/assets/pizza2.jpeg", class:"imgmenu") %>
            <%= image_tag("/assets/pizza3.jpeg", class:"imgmenu") %>
            <p class="promocapt">Pizza de calabresa</p>
            <p class="promocapt">Pizza de calabresa</p>
            <p class="promocapt">Pizza de calabresa</p>
        </div>
    </body>

</html>
