<h2 class="Somos">Quem somos</h2>

<%= image_tag("/assets/PizzaioloPedepizza.jpg", class:"imgsomos") %>

<p class="psomos">Lorem Ipsum Muito textão daquele jeito, pra encher uma página mesmo. Escreve escreeve escreve escreve. Pra ficar igual uma descrição da história de uma pizzaria. Muita coisa mesmo. Olha quanta palavra. Escreve pra ser feliz, se não escrever, não vai ser feliz. Anota isso aí. Fica aqui minha indignação, tem que acabar a felicidade, falo com tranquilidade. </p>