@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Risque');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

    RESET
    RESET
    RESET
    RESET
    RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
ESTILO ESTILO
ESTILO ESTILO
ESTILO ESTILO
ESTILO ESTILO
ESTILO ESTILO
ESTILO ESTILO
*/


body {
    background-color: #f2f2f2;
}

/* HEADER HEADER HEADER HEADER
HEADER HEADER HEADER HEADER */

header div {
    position: absolute;
    line-height: 0;
}

.pedepizza {
    position: absolute;
    top: 21px;
    left: 200px;
    text-decoration: none;
    /* max-width: 220px; */
    margin-bottom: -30px;
    font-size: 32px;
    color: #FFE600;
    font-family: 'Risque', cursive;
}

/* nav ul li, nav ul {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    float: right;
    overflow: hidden;
    padding: 6px 10px 0px 10px;
    font-size: 20px;
    color: #FFE600;
    font-family: 'Roboto', sans-serif;
} */

nav ul li a {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    float: right;
    /* overflow: hidden; */
    padding: 5px 10px 0px 10px;
    margin-top: 20px;
    font-size: 20px;
    color: #FFE600;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #B72D02;
    height: 77px;
}

.imgheader {
    display: block;
    position: absolute;
}

/* FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER */

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 666px;
    text-align: center;
    background-color: #B72D02;
}

.contatos {
    color: #FFE600;
    font-family: 'Roboto', sans-serif;
}

.contatos h2 {
    font-size: 20px;
    padding-top: 10px;
}

.contatos ul li {
    padding-top: 5px;
    font-size: 16px;
}

div.socialicons {
    position: relative;
    display: block;
    top: -50px;
    margin-left: 45%;
}

.imgcontatos {
    padding-right: 30px;
}

/* PROMOS HOME PROMOS HOME PROMOS HOME
PROMOS HOME PROMOS HOME PROMOS HOME */

#promos {
    font-family: 'Roboto Condensed', sans-serif;
    color: #B72D02;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 70px;
}

/* CADASTRO CADASTRO CADASTRO CADASTRO
CADASTRO CADASTRO CADASTRO CADASTRO */

.cadastro {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.regfield {
    color: #B72D02;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

.regbox {
    text-decoration: none;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #B72D02;
    padding: 3px 7px 3px 7px;
    margin-bottom: 40px;
    border: 3px solid #333333;
    border-radius: 10%;
    transition: .3s;
}

.regbox:hover {
    color: #B72D02;
    background-color: #333333;
    border-color: #B72D02;
    transition: .3s;
}

/* QUEM SOMOS QUEM SOMOS QUEM SOMOS QUEM SOMOS
QUEM SOMOS QUEM SOMOS QUEM SOMOS QUEM SOMOS */

.Somos {
    display: block;
    width: 150px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 0 auto;
    color: #B72D02;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.imgsomos {
    display: block;
    width: 347px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.psomos {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}

/* SABORES SABORES SABORES SABORES
SABORES SABORES SABORES SABORES */

.Sabores {
    display: block;
    width: 100px;
    margin: 0 auto;
    color: #B72D02;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

/* LOGIN LOGIN LOGIN LOGIN
LOGIN LOGIN LOGIN LOGIN */

.Login {
    display: block;
    width: 80px;
    margin: 0 auto;
    color: #B72D02;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
}

.formlog {
    padding-top: 40px;
    display: block;
    margin: 0 auto;
    width: 200px;
}

.logfield {
    color: #B72D02;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.linkforgot {
    text-decoration: none;
    color: #B72D02;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
}

.linkforgot:hover {
    text-decoration: underline;
}

/* NOVA SENHA NOVA SENHA NOVA SENHA
NOVA SENHA NOVA SENHA NOVA SENHA */

.newpass {
    display: block;
    width: 150px;
    margin: 50px auto;
}

.novasenha {
    color: #B72D02;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

/* SHOW USER SHOW USER SHOW USER SHOW USER
SHOW USER SHOW USER SHOW USER SHOW USER */

.showuser {
    display: block;
    width: 250px;
    margin: 50px auto;
}

/* EDIT USER EDIT USER EDIT USER
EDIT USER EDIT USER EDIT USER */

.editando_user {
    display: block;
    width: 150px;
    margin: 0 auto;
}

/* INDEX USERS INDEX USERS INDEX USERS
INDEX USERS INDEX USERS INDEX USERS */

.index_users {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.usuarios {
    display: block;
    width: 70px;
    margin: 40px auto;
    color: #B72D02;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.table_users thead tr th {
    color: #B72D02;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 3px solid #333333;
    background-color: #e2e2e2;
}

.table_users tbody tr td {
    background-color: #e2e2e2;
    border: 3px solid #333333;
    padding: 3px 5px 3px 5px;
}

.pesquisa {
    display: block;
    margin: 0 auto;
    width: 170px;
}

.searchbox {
    text-decoration: none;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #B72D02;
    padding: 1px 3px 1px 3px;
    margin-bottom: 10px;
    border: 3px solid #333333;
    border-radius: 10%;
    transition: .3s;
}

.searchbox:hover {
    color: #B72D02;
    background-color: #333333;
    border-color: #B72D02;
    transition: .3s;
}

.menu_mod {
    display: block;
    width: 150px;
    background-color: #e2e2e2;
    padding: 15px 10px 15px 10px;
    margin-top: 20px;
}

/* CARDAPIO CARDAPIO CARDAPIO CARDAPIO
CARDAPIO CARDAPIO CARDAPIO CARDAPIO */

.quadrosab {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #e2e2e2
}

.imgmenu {
    padding: 20px;
}

/* .menucapt {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #B72D02;
} */

/* PROMOS PROMOS PROMOS PROMOS PROMOS
PROMOS PROMOS PROMOS PROMOS PROMOS */

.quadropromos {
    display: block;
    margin: 0 auto;
    width: 75%;
    background-color: #e2e2e2;
    margin-top: 40px;
}

.promocapt {
    display: inline;
    margin-left: 60px;
    margin-right: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #B72D02;
}