<!DOCTYPE html>
<html>
  <head>
    <title>Pedepizza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <nav>
        <div>
          <%= image_tag("/assets/logoPedePizza.png", class:"imgheader") %>
        </div>
        <%= link_to 'Pé de Pizza', root_path, class:"pedepizza" %>
        <ul>
          <% if !logged_in?%>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Cadastre-se', new_user_path %></li>
          <% else %>
            <li><%= link_to "Sair", logout_path, method: :delete %></li>
            <li><%= link_to current_user.name, current_user %></li>
          <% end %>
          <li><%= link_to 'Quem somos', welcome_somos_path %></li>
          <li><%= link_to 'Cardápio', welcome_cardapio_path %></li>
          <li><a href="#">Delivery</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="contatos">
        <h2>Contatos:</h2>
        <ul>
          <li>Tel:(21)1234-4321</li>
          <li>Wpp:(21)91234-4321</li>
        </ul>
      </div>
      <div class="socialicons">
          <a href="https://pt-br.facebook.com/" target="_blank"><%= image_tag("/assets/facebook.png", class:"imgcontatos") %></a>
          <a href="https://www.instagram.com/?hl=pt-br" target="_blank"><%= image_tag("/assets/instagram.png", class:"imgcontatos") %></a>
        </div>
    </footer>

  </body>
</html>
